.ns-row{
    width: 100%;
}
.ns-text-align{
    text-align: center;
}
.ns-red{
    color: red;
}
.ns-mt-5{
    margin-top: 5rem;
}
.ns-mb-5{
    margin-bottom: 5rem;
}
.ns-mt-3{
    margin-top: 3rem;
}